extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
	h1 Danh sách sản phẩm
	.card.mb-3
		+alert-success(5000)
		.card-header Danh sách sản phẩm 
		.card-body
			//- +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
			table(
				class="table table-hoverb table-sm"
				checkbox-multi
			) 
				thead
					tr 
						td 
							input(type="checkbox" name="checkall")
						td STT 
						td Hình ảnh 
						td Tiêu đề
						td Giá
						td Trạng thái 
						td Hành động
				tbody
					each items, index  in products 
						tr 
							td 
								input(
									type="checkbox"
									value=items.id
									name="id"
								)
							td #{index + 1}
							td 
								img(
									src=items.thumbnail
									alt=items.title
									width="100px"
									height="auto"
								)
							td #{items.title}
							td #{items.price}$ 
							td
								if(items.status == "active")
									a(
										href="javascript:;"
										data-status="active"
										data-id=items.id
										button-change-status
										class="badge badge-success"
									) Hoạt động
								else
									a(
										href="javascript:;" 
										data-status="inactive"
										data-id=items.id
										button-change-status
										class="badge badge-danger"
									) Dừng hoạt động
							td 
								
								button(
									class="btn btn-success btn-sm ml-1"
									data-id=items.id
									button-restore
								) Khôi phục
	form(
		action=""
		method="POST"
		id="form-restore-items"
		data-patch=`${prefixAdmin}/products/restore`
	)
	script(src="/admin/js/products.js") 
	script(src="/admin/js/script.js") 