extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block main 
	if(role.permission.includes("products_view"))
		h1 Danh sách sản phẩm
		+alert-success(5000)
		.card.mb-3
			.card-header Bộ lọc và tìm kiếm
			.card-body
				.row
					.col-6 
						+filterStatus(filterStatus)
					.col-6 
						+search(keyword)
		.card.mb-3
			.card-header Danh sách sản phẩm 
			.card-body
				.row 
					.col-8 
						if(role.permission.includes("products_edit"))
							+form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
					.col-4 
						if(role.permission.includes("products_create"))
							a(
								href=`${prefixAdmin}/products/create`
								class="btn btn-outline-success"
							) +Thêm mới
		.card.mb-3 
		.card-header Sắp xếp
	
			.row
				.col-4
					+sort()
				table(
					class="table table-hoverb table-sm"
					checkbox-multi
				) 
					thead
						tr 
							td 
								input(type="checkbox" name="checkall")
							td STT 
							td Hình ảnh 
							td Tiêu đề
							td Giá
							td Vị trí
							td Trạng thái 
							td Người tạo
							td Người cập nhật
							td Hành động
					tbody
						each items, index  in products 
							tr 
								td 
									input(
										type="checkbox"
										value=items.id
										name="id"
									)
								td #{index + 1}
								td 
									img(
										src=items.thumbnail
										alt=items.title
										width="100px"
										height="auto"
									)
								td #{items.title}
								td #{items.price}$
								td 
									input(
										type="number"
										value=items.position 
										style="width: 60px"
										name="position"
										min="1"
									)
								td
									if(role.permission.includes("products_edit"))
										if(items.status == "active")
											a(
												href="javascript:;"
												data-status="active"
												data-id=items.id
												button-change-status
												class="badge badge-success"
											) Hoạt động
										else
											a(
												href="javascript:;" 
												data-status="inactive"
												data-id=items.id
												button-change-status
												class="badge badge-danger"
											) Dừng hoạt động
									else 
										if(items.status == "active")
											a(
												class="badge badge-success"
											) Hoạt động
										else
											span(
												class="badge badge-danger"
											) Dừng hoạt động
								td 
									p #{items.accountFullName}
									p #{moment(items.createdBy.createAt).format("DD/MM/YYYY HH:mm:ss")}
								td 
									- const updatedBy = items.updatedBy.splice(-1)[0];
									if(updatedBy)
										p #{updatedBy.accountFullName}
										p #{moment(updatedBy.updatedAt).format("DD/MM/YYYY HH:mm:ss")}
								td 
									if(role.permission.includes("products_edit"))
										a(class="btn btn-warning btn-sm"
											href=`${prefixAdmin}/products/edit/${items.id}`
										) Sửa
									a(class="btn btn-secondary btn-sm ml-1"
										href=`${prefixAdmin}/products/detail/${items.id}`
									) Chi tiết
									if(role.permission.includes("products_delete"))
										button(
											class="btn btn-danger btn-sm ml-1"
											data-id=items.id
											button-delete
										) Xóa
		+pagination(pagination)
		form(
			action=""
			method="POST"
			id="form-change-status"
			data-patch=`${prefixAdmin}/products/change-status`
		)
		form(
			action=""
			method="POST"
			id="form-delete-items"
			data-patch=`${prefixAdmin}/products/delete`
		)
		script(src="/admin/js/products.js") 
		script(src="/admin/js/script.js") 