extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
	if(role.permission.includes("roles_edit"))
		h1(class="mb-4") Sửa nhóm quyền
		+alert-success(5000)
		+alert-error(5000)
		form(
			action=`${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
			method="POST"
			enctype="multipart/form-data"
		)
			div(class="form-group")
			label(for="title") Tiêu đề
			input(
				type="text"
				class="form-control"
				id="title"
				name="title"
				value=data.title
				required
			)
			div(class="form-group")
			label(for="desc") Mô tả
			input(
				type="text"
				class="form-control"
				id="desc"
				name="description"
				value=data.description
			)
			div(class="form-group")
			button(
				type="submit"
				class="btn btn-primary"
			) Cập nhật
		script(src="/admin/js/script.js")
		script(src="/admin/js/products.js")